table,th,td {
    border: 1px solid red;
    border-collapse: collapse;
    padding: 5px;
    margin-top: 50px;
}
#box1{
    display: block;
    background-color: rgb(18, 43, 184);
    color: #FFFF ;
    padding: 12;
}
#box2{
    display: block;
    background-color: rgb(192, 11, 140);
    color: #FFFF ;
    padding: 12;
}
#box3{
    display: block;
    background-color: rgb(231, 98, 9);
    color: #FFFF ;
    padding: 12;
}
.box1{
    background: #1641ff;
}
#box2{
    background: #e7870a;
}
*{
    color: #FFF;
    background: black;
}
*{
    font-size: 24px;
    font-family: kanit;
    font-weight: 300;
}
input{
    display: block;
    margin-top: 15px;
}
button{
    margin-top: 15px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: rgb(8,89 ,210 );
}
.btn-login{
    color: #FFF;
    padding: 10px;
}
.btn-login:hover{
    background-color: rgb(222, 222, 222);
}
.btn-register{
    color: #FFF;
    padding: 10px;
}
.btn-register:hover{
    background-color: rgb(222, 222, 222);
}